HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Variables de Entorno (carpeta externa) ###
../variables-entorno/
*.env
.env.*
firebase-service-account.json

### IDE - Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDE - IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
*.iml.ipr

### IDE - NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IDE - VS Code ###
.vscode/
*.code-workspace

### OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

### Editors ###
*.swp
*.swo
*~
.vim/
